{
  "openapi": "3.1.0",
  "info": {
    "title": "Gumlet",
    "description": "Gumlet helps developers deliver online video and images. This API encompasses Gumlet Video, Image and Video Analytics functionality to help you build your products better and faster than ever before.",
    "version": "1.4",
    "contact": {
      "name": "Gumlet Support Team",
      "url": "https://www.gumlet.com/support/",
      "email": "support@gumlet.com"
    },
    "termsOfService": "https://www.gumlet.com/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "https://opensource.org/license/apache-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.gumlet.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "API_KEY": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/video/assets": {
      "post": {
        "summary": "Create Asset",
        "description": "An asset refers to a media content/video that is processed, stored, and delivered through Gumlet. This endpoint creates an asset allowing users to ingest media content into the Gumlet system for processing and delivery.",
        "operationId": "create-asset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input",
                  "collection_id",
                  "format"
                ],
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "URL or web address of a file that Gumlet should download to create a new asset."
                  },
                  "collection_id": {
                    "type": "string",
                    "description": "Gumlet video workspace id."
                  },
                  "profile_id": {
                    "type": "string",
                    "description": "Provide `profile_id` of the previously created video profile. This parameter will override all the parameters (except `input` and `collection_id`) from the video profile."
                  },
                  "format": {
                    "type": "string",
                    "description": "Transcode and deliver the asset in the requested format. The options can be one of `ABR` (HLS + DASH) and`MP4`.",
                    "enum": [
                      "ABR",
                      "MP4"
                    ]
                  },
                  "tag": {
                    "type": "array",
                    "description": "Specify a text string or identifier which can identify an asset or bunch of assets later.",
                    "items": {
                      "x-stoplight": {
                        "id": "ukzi2mra8hepj"
                      },
                      "type": "string"
                    }
                  },
                  "title": {
                    "type": "string",
                    "description": "Specify a text string or identifier which can be used for filtering or searching the asset."
                  },
                  "description": {
                    "type": "string",
                    "description": "Attach some textual data with the asset. This field is neither searchable nor filterable."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Add your metadata you want to associate with this asset.<br/> Example: <br/> <code>  {  \"internal_video_id\" : \"123Abc\"  }  </code>",
                    "additionalProperties": {}
                  },
                  "width": {
                    "type": "string",
                    "description": "Resize video with the given width. Can be an absolute value in pixels or a percentage value with the `%` suffix. Specified values greater than the original asset width will be ignored. Applicable only when specified format is `MP4`."
                  },
                  "height": {
                    "type": "string",
                    "description": "Resize video with the given height. Can be an absolute value in pixels or a percentage value with the `%` suffix. Specified values greater than the original asset height will be ignored. Applicable only when specified format is `MP4`."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Required resolutions of the transformed asset in case of HLS or MPEG-DASH delivery format. Can be a comma separated string out of the following values: `240p`, `360p`, `480p`, `540p`, `720p`, and `1080p`. Re-sized rendition will retain the input aspect ratio."
                  },
                  "crop": {
                    "type": "object",
                    "description": "This transformation can be used to crop the video by defining a rectangular area within the dimensions of the output video.",
                    "required": [
                      "width",
                      "height"
                    ],
                    "properties": {
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the upper-left corner of the cropping area. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the upper-left corner of the cropping area. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `0`**"
                      },
                      "width": {
                        "type": "string",
                        "description": "Width of the cropping area in pixels."
                      },
                      "height": {
                        "type": "string",
                        "description": "Height of the cropping area in pixels."
                      }
                    }
                  },
                  "pad": {
                    "type": "object",
                    "description": "This transformation can be used to add padding to the video.",
                    "properties": {
                      "top": {
                        "type": "string",
                        "description": "Width of padding on the top side. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `%5`**"
                      },
                      "left": {
                        "type": "string",
                        "description": "Width of padding on the left side. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "bottom": {
                        "type": "string",
                        "description": "Width of padding on the bottom side. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `%5`**"
                      },
                      "right": {
                        "type": "string",
                        "description": "Width of padding on the right side. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "color": {
                        "type": "string",
                        "description": "Color of padding area. **Default: `black`**"
                      }
                    }
                  },
                  "trim": {
                    "type": "object",
                    "description": "Trim transformation can be used to trim videos based on time duration.",
                    "required": [
                      "start_offset",
                      "end_offset"
                    ],
                    "properties": {
                      "start_offset": {
                        "type": "number",
                        "description": "Start offset in number of seconds or in `HH:MM:SS` format.",
                        "format": "float"
                      },
                      "end_offset": {
                        "type": "number",
                        "description": "End offset in number of seconds or in `HH:MM:SS` format.",
                        "format": "float"
                      },
                      "duration": {
                        "type": "number",
                        "description": "Duration can be used in conjunction with `start_offset` parameter, can be specified in number of seconds.",
                        "format": "float"
                      }
                    }
                  },
                  "image_overlay": {
                    "type": "object",
                    "description": "Image overlay can be used to brand a video or add a visual label in the form of an image.",
                    "required": [
                      "url"
                    ],
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "This is the required parameter for image overlay, it can be a URL to an image that needs to be overlayed."
                      },
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the corner (determined by `horizontal_align`) of the overlay area. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the corner (determined by `vertical_align`) of the overlay area. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `0`**"
                      },
                      "horizontal_align": {
                        "type": "string",
                        "description": "This parameter specifies the horizontal alignment of the overlayed image and can be either `left` or `right`. **Default: `right`**"
                      },
                      "vertical_align": {
                        "type": "string",
                        "description": "This parameter specifies the vertical alignment of the overlayed image and can be either `top` or `bottom`. **Default: `bottom`**"
                      },
                      "width": {
                        "type": "string",
                        "description": "Width of the overlayed image. **Default: `image width`**"
                      },
                      "height": {
                        "type": "string",
                        "description": "Height of the overlayed image. **Default: `image height`**"
                      }
                    }
                  },
                  "text_overlay": {
                    "type": "object",
                    "description": "Text overlay can be used to brand a video or add a label in the form of text.",
                    "required": [
                      "text"
                    ],
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "Text to be overlayed on video."
                      },
                      "horizontal_align": {
                        "type": "string",
                        "description": "This parameter specifies the horizontal alignment of the overlayed image and can be either `left` or `right`. **Default: `right`**"
                      },
                      "vertical_align": {
                        "type": "string",
                        "description": "This parameter specifies the vertical alignment of the overlayed image and can be either `top` or `bottom`. **Default: `bottom`**"
                      },
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the corner (determined by `horizontal_align`) of the overlay area. Values can be an absolute number of pixels relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the corner (determined by vertical_align) of the overlay area. Values can be an absolute number of pixels relative to the video height. **Default: `0`**"
                      },
                      "color": {
                        "type": "string",
                        "description": "Font color for text. **Default: `black`**"
                      },
                      "font": {
                        "type": "string",
                        "description": "Font family type for text. **Default: `sans`**"
                      },
                      "font_size": {
                        "type": "string",
                        "description": "Font size in pixels. **Default: `16`**"
                      },
                      "opacity": {
                        "type": "string",
                        "description": "Overlay text opacity can be specified with opacity parameter where value can be between `0` and `100` where `0` is considered completely transparent and `100` is considered completely opaque. **Default: `100`**"
                      },
                      "box": {
                        "type": "boolean",
                        "description": "This parameter allows rectangular drawing a box over the overlayed text. **Default: `false`**"
                      },
                      "box_color": {
                        "type": "string",
                        "description": "Box color can be specified with this parameter. **Default: `white`**"
                      },
                      "box_opacity": {
                        "type": "string",
                        "description": "Box opacity can be specified with this parameter. **Default: `100`**"
                      },
                      "box_border": {
                        "type": "string",
                        "description": "Padding between the box border and the text can be specified with this parameter in pixels. **Default: `0`**"
                      }
                    }
                  },
                  "animated_gif": {
                    "type": "object",
                    "description": "Create an animated GIF from the video.",
                    "properties": {
                      "start_offset": {
                        "type": "string",
                        "description": "The time (in seconds or `HH:MM:SS` format) of the video timeline where the animated gif should begin. **Default: `0`**"
                      },
                      "end_offset": {
                        "type": "string",
                        "description": "The time (in seconds or `HH:MM:SS` format) of the video timeline where the GIF ends. Defaults to `10` seconds after the start_offset. Maximum duration of GIF is limited to `10` seconds."
                      },
                      "width": {
                        "type": "string",
                        "description": "The width in pixels (or in percentage value of asset width) of the animated GIF. Max width is `640px`."
                      },
                      "height": {
                        "type": "string",
                        "description": "The height in pixels (or in percentage value of asset height) of the animated GIF. Max height is `640px`."
                      },
                      "fps": {
                        "type": "string",
                        "description": "The frame rate of the generated GIF. Defaults to `15` fps. Max `30` fps."
                      }
                    }
                  },
                  "additional_tracks": {
                    "type": "array",
                    "description": "Add additional Audio / Subtitle tracks to Gumlet for transcoding and delivery along with video asset track.",
                    "items": {
                      "type": "object",
                      "required": [
                        "url",
                        "type",
                        "language_code"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "URL or web address of a file that Gumlet should download to add a stream."
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of additional track. Value can be either audio or subtitle."
                        },
                        "language_code": {
                          "type": "string",
                          "description": "The language code value represents BCP 47 specification compliant value. For example, en for English."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the track containing a human-readable description."
                        }
                      }
                    }
                  },
                  "generate_subtitles": {
                    "type": "object",
                    "description": "Gumlet allows to generate subtitles from the audio stream (use <a href='https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes'> ISO 639-1 </a> Language Codes)",
                    "properties": {
                      "audio_language": {
                        "type": "string",
                        "description": "Language code for native language of the audio."
                      },
                      "subtitle_languages": {
                        "type": "string",
                        "description": "Comma separated string of language codes for which subtitle needs to be generated. Maximum four language codes are allowed."
                      }
                    }
                  },
                  "mp4_access": {
                    "type": "boolean",
                    "description": "Creates `MP4` version for download purpose in case of `MPEG-DASH` or `HLS` delivery format. **Default: `false`**"
                  },
                  "per_title_encoding": {
                    "type": "boolean",
                    "description": "Gumlet analyzes each input video on a wide range of visual aspects. Based on the analysis, it chooses a unique set of transcoding options for processing the video. This ensures that the output video is of optimal size and best quality. **Default: `true`**"
                  },
                  "process_low_resolution_input": {
                    "type": "boolean",
                    "description": "Currently, the minimum supported frame size is `57600` (`240x240`) pixels for `HLS/DASH` and `21025` (`145x145`) pixels for `MP4` format. However, enabling this flag will allow Gumlet to simply put your video asset into the specified delivery format without transcoding and optimization. Enabling this flag will cause any kind of specified video transformation to be ignored if you input video asset frame size is lower than the minimum supported frame size for the specified format. **Default: `false`**"
                  },
                  "audio_only": {
                    "type": "boolean",
                    "description": "This flag allows Gumlet to transcode and deliver audio-only in the specified format. In this case, video transformation and thumbnails/animated GIFs would not be created. **Default: `false`**"
                  },
                  "enable_drm": {
                    "type": "boolean",
                    "description": "Enable DRM encryption for transcoded videos. Gumlet supports Widevine and Fairplay DRMs."
                  },
                  "call_to_actions": {
                    "type": "array",
                    "description": "CTA, is an explicit prompt within the video content encouraging viewers to take a particular action.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "start_time": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "end_time": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "font_color": {
                          "type": "string",
                          "description": "hex value of color"
                        },
                        "background_color": {
                          "type": "string",
                          "description": "hex code of color"
                        },
                        "position_from_top": {
                          "type": "integer",
                          "description": "number of pixels from top",
                          "format": "int32"
                        },
                        "position_from_right": {
                          "type": "integer",
                          "description": "number of pixels from right",
                          "format": "int32"
                        }
                      }
                    }
                  },
                  "playlist_id": {
                    "type": "string",
                    "description": "Add this asset to a playlist."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Add this asset to an existing folder by `folder_id`."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "format": "ABR",
                    "collection_id": "646df1c9173a4a2fcac180b4",
                    "input": "http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8",
                    "description": "some description",
                    "tag": [
                      "ball"
                    ],
                    "profile_id": "646df1c9173a4a2fcac180b7",
                    "cluster_type": "prod",
                    "playlist_id": "6597acd5ed6f26a9c5ca9633",
                    "metadata": {
                      "headermeta": "metavalue"
                    },
                    "call_to_actions": [
                      {
                        "start_time": 1,
                        "end_time": 90,
                        "text": "some test",
                        "url": "https://some-url.com",
                        "position_from_top": 11,
                        "position_from_right": 23,
                        "border_radius": "11",
                        "font_color": "#000001",
                        "background_color": "#ffffff"
                      }
                    ],
                    "folder": "697375fbfa2d1037283140e4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "asset_id": "65b168a6e99b77f116c0e488",
                      "progress": 0,
                      "created_at": 1706125479006,
                      "updated_at": 1706125479006,
                      "status": "pre-queued",
                      "tag": [
                        "ball"
                      ],
                      "source_id": "646df1c9173a4a2fcac180b4",
                      "collection_id": "646df1c9173a4a2fcac180b4",
                      "input": {
                        "transformations": {
                          "format": "hls",
                          "resolution": [
                            "360p",
                            "480p",
                            "540p",
                            "720p",
                            "1080p"
                          ],
                          "audio_codec": [
                            "aac"
                          ],
                          "video_codec": [
                            "libx264"
                          ],
                          "thumbnail": [
                            "auto"
                          ],
                          "thumbnail_format": "png",
                          "mp4_access": false,
                          "per_title_encoding": false
                        },
                        "profile_id": "646df1c9173a4a2fcac180b7",
                        "title": "bipbopall",
                        "description": "some description",
                        "metadata": {
                          "headermeta": "metavalue"
                        },
                        "source_url": "http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8",
                        "call_to_actions": [
                          {
                            "start_time": 1,
                            "end_time": 90,
                            "text": "some test",
                            "url": "https://some-url.com",
                            "position_from_top": 11,
                            "position_from_right": 23,
                            "border_radius": 11,
                            "font_color": "#000001",
                            "background_color": "#ffffff",
                            "html_target": "_blank"
                          }
                        ]
                      },
                      "output": {
                        "format": "hls",
                        "status_url": "https://api.gumlet.com/v1/video/assets/65b168a6e99b77f116c0e488",
                        "playback_url": "https://video.gumlet.io/646df1c9173a4a2fcac180b4/65b168a6e99b77f116c0e488/main.m3u8",
                        "thumbnail_url": [
                          "https://video.gumlet.io/646df1c9173a4a2fcac180b4/65b168a6e99b77f116c0e488/thumbnail-1-0.png?v=1706125479006"
                        ]
                      },
                      "playlists": [
                        "6597acd5ed6f26a9c5ca9633"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset_id": {
                      "type": "string",
                      "example": "65b168a6e99b77f116c0e488"
                    },
                    "progress": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1706125479006,
                      "default": 0
                    },
                    "updated_at": {
                      "type": "integer",
                      "example": 1706125479006,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "pre-queued"
                    },
                    "tag": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "ball"
                      }
                    },
                    "source_id": {
                      "type": "string",
                      "example": "646df1c9173a4a2fcac180b4"
                    },
                    "collection_id": {
                      "type": "string",
                      "example": "646df1c9173a4a2fcac180b4"
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "transformations": {
                          "type": "object",
                          "properties": {
                            "format": {
                              "type": "string",
                              "example": "hls"
                            },
                            "resolution": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "360p"
                              }
                            },
                            "audio_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "aac"
                              }
                            },
                            "video_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "libx264"
                              }
                            },
                            "thumbnail": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "auto"
                              }
                            },
                            "thumbnail_format": {
                              "type": "string",
                              "example": "png"
                            },
                            "mp4_access": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "per_title_encoding": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "profile_id": {
                          "type": "string",
                          "example": "646df1c9173a4a2fcac180b7"
                        },
                        "title": {
                          "type": "string",
                          "example": "bipbopall"
                        },
                        "description": {
                          "type": "string",
                          "example": "some description"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "headermeta": {
                              "type": "string",
                              "example": "metavalue"
                            }
                          }
                        },
                        "source_url": {
                          "type": "string",
                          "example": "http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8"
                        },
                        "call_to_actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "start_time": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "end_time": {
                                "type": "integer",
                                "example": 90,
                                "default": 0
                              },
                              "text": {
                                "type": "string",
                                "example": "some test"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://some-url.com"
                              },
                              "position_from_top": {
                                "type": "integer",
                                "example": 11,
                                "default": 0
                              },
                              "position_from_right": {
                                "type": "integer",
                                "example": 23,
                                "default": 0
                              },
                              "border_radius": {
                                "type": "integer",
                                "example": 11,
                                "default": 0
                              },
                              "font_color": {
                                "type": "string",
                                "example": "#000001"
                              },
                              "background_color": {
                                "type": "string",
                                "example": "#ffffff"
                              },
                              "html_target": {
                                "type": "string",
                                "example": "_blank"
                              }
                            }
                          }
                        }
                      }
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string",
                          "example": "hls"
                        },
                        "status_url": {
                          "type": "string",
                          "example": "https://api.gumlet.com/v1/video/assets/65b168a6e99b77f116c0e488"
                        },
                        "playback_url": {
                          "type": "string",
                          "example": "https://video.gumlet.io/646df1c9173a4a2fcac180b4/65b168a6e99b77f116c0e488/main.m3u8"
                        },
                        "thumbnail_url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "https://video.gumlet.io/646df1c9173a4a2fcac180b4/65b168a6e99b77f116c0e488/thumbnail-1-0.png?v=1706125479006"
                          }
                        }
                      }
                    },
                    "playlists": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "6597acd5ed6f26a9c5ca9633"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "error": {
                        "code": "source_not_found",
                        "message": "Could not find any video source with specified source ID."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "source_not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "Could not find any video source with specified source ID."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "error": {
                        "code": "invalid_api_key",
                        "message": "API key supplied with request is invalid"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_api_key"
                        },
                        "message": {
                          "type": "string",
                          "example": "API key supplied with request is invalid"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Video Assets"
        ],
        "x-stoplight": {
          "id": "wrrbz3ioehwrt"
        }
      }
    },
    "/video/assets/upload": {
      "post": {
        "summary": "Create Asset Direct Upload",
        "description": "This endpoint creates a video asset allowing to upload of the video from the local file system and ingest media content into the Gumlet system for processing and delivery.Body Parameters are the same as the Create Asset Body Parameters except for the `input` parameter which this endpoint does not take.A successful response will be returned with `upload_url` field. You can make `PUT` request to that URL to upload video. To upload video using `upload_url` refer to [this](https://docs.gumlet.com/docs/direct-upload#2-use-the-url-to-upload-a-file).",
        "operationId": "create-asset-direct-upload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "collection_id"
                ],
                "properties": {
                  "collection_id": {
                    "type": "string",
                    "description": "Gumlet video workspace id."
                  },
                  "profile_id": {
                    "type": "string",
                    "description": "Provide `profile_id` of the previously created video profile. This parameter will override all the parameters (except `input` and `collection_id`) from the video profile."
                  },
                  "format": {
                    "type": "string",
                    "description": "Transcode and deliver the asset in the requested format. The options can be one of `ABR` (HLS + DASH) and`MP4`.",
                    "enum": [
                      "ABR",
                      "MP4"
                    ]
                  },
                  "tag": {
                    "type": "array",
                    "description": "Specify a text string or identifier which can identify an asset or bunch of assets later.",
                    "items": {
                      "x-stoplight": {
                        "id": "ukzi2mra8hepj"
                      },
                      "type": "string"
                    }
                  },
                  "title": {
                    "type": "string",
                    "description": "Specify a text string or identifier which can be used for filtering or searching the asset."
                  },
                  "description": {
                    "type": "string",
                    "description": "Attach some textual data with the asset. This field is neither searchable nor filterable."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Add your metadata you want to associate with this asset.<br/> Example: <br/> <code>  {  \"internal_video_id\" : \"123Abc\"  }  </code>",
                    "additionalProperties": {}
                  },
                  "width": {
                    "type": "string",
                    "description": "Resize video with the given width. Can be an absolute value in pixels or a percentage value with the `%` suffix. Specified values greater than the original asset width will be ignored. Applicable only when specified format is `MP4`."
                  },
                  "height": {
                    "type": "string",
                    "description": "Resize video with the given height. Can be an absolute value in pixels or a percentage value with the `%` suffix. Specified values greater than the original asset height will be ignored. Applicable only when specified format is `MP4`."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Required resolutions of the transformed asset in case of HLS or MPEG-DASH delivery format. Can be a comma separated string out of the following values: `240p`, `360p`, `480p`, `540p`, `720p`, and `1080p`. Re-sized rendition will retain the input aspect ratio."
                  },
                  "crop": {
                    "type": "object",
                    "description": "This transformation can be used to crop the video by defining a rectangular area within the dimensions of the output video.",
                    "required": [
                      "width",
                      "height"
                    ],
                    "properties": {
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the upper-left corner of the cropping area. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the upper-left corner of the cropping area. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `0`**"
                      },
                      "width": {
                        "type": "string",
                        "description": "Width of the cropping area in pixels."
                      },
                      "height": {
                        "type": "string",
                        "description": "Height of the cropping area in pixels."
                      }
                    }
                  },
                  "pad": {
                    "type": "object",
                    "description": "This transformation can be used to add padding to the video.",
                    "properties": {
                      "top": {
                        "type": "string",
                        "description": "Width of padding on the top side. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `%5`**"
                      },
                      "left": {
                        "type": "string",
                        "description": "Width of padding on the left side. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "bottom": {
                        "type": "string",
                        "description": "Width of padding on the bottom side. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `%5`**"
                      },
                      "right": {
                        "type": "string",
                        "description": "Width of padding on the right side. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "color": {
                        "type": "string",
                        "description": "Color of padding area. **Default: `black`**"
                      }
                    }
                  },
                  "trim": {
                    "type": "object",
                    "description": "Trim transformation can be used to trim videos based on time duration.",
                    "required": [
                      "start_offset",
                      "end_offset"
                    ],
                    "properties": {
                      "start_offset": {
                        "type": "number",
                        "description": "Start offset in number of seconds or in `HH:MM:SS` format.",
                        "format": "float"
                      },
                      "end_offset": {
                        "type": "number",
                        "description": "End offset in number of seconds or in `HH:MM:SS` format.",
                        "format": "float"
                      },
                      "duration": {
                        "type": "number",
                        "description": "Duration can be used in conjunction with `start_offset` parameter, can be specified in number of seconds.",
                        "format": "float"
                      }
                    }
                  },
                  "image_overlay": {
                    "type": "object",
                    "description": "Image overlay can be used to brand a video or add a visual label in the form of an image.",
                    "required": [
                      "url"
                    ],
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "This is the required parameter for image overlay, it can be a URL to an image that needs to be overlayed."
                      },
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the corner (determined by `horizontal_align`) of the overlay area. Values can be an absolute number of pixels or a percentage value relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the corner (determined by `vertical_align`) of the overlay area. Values can be an absolute number of pixels or a percentage value relative to the video height. **Default: `0`**"
                      },
                      "horizontal_align": {
                        "type": "string",
                        "description": "This parameter specifies the horizontal alignment of the overlayed image and can be either `left` or `right`. **Default: `right`**"
                      },
                      "vertical_align": {
                        "type": "string",
                        "description": "This parameter specifies the vertical alignment of the overlayed image and can be either `top` or `bottom`. **Default: `bottom`**"
                      },
                      "width": {
                        "type": "string",
                        "description": "Width of the overlayed image. **Default: `image width`**"
                      },
                      "height": {
                        "type": "string",
                        "description": "Height of the overlayed image. **Default: `image height`**"
                      }
                    }
                  },
                  "text_overlay": {
                    "type": "object",
                    "description": "Text overlay can be used to brand a video or add a label in the form of text.",
                    "required": [
                      "text"
                    ],
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "Text to be overlayed on video."
                      },
                      "horizontal_align": {
                        "type": "string",
                        "description": "This parameter specifies the horizontal alignment of the overlayed image and can be either `left` or `right`. **Default: `right`**"
                      },
                      "vertical_align": {
                        "type": "string",
                        "description": "This parameter specifies the vertical alignment of the overlayed image and can be either `top` or `bottom`. **Default: `bottom`**"
                      },
                      "horizontal_margin": {
                        "type": "string",
                        "description": "This parameter defines the horizontal coordinate value of the corner (determined by `horizontal_align`) of the overlay area. Values can be an absolute number of pixels relative to the video width. **Default: `0`**"
                      },
                      "vertical_margin": {
                        "type": "string",
                        "description": "This parameter defines the vertical coordinate value of the corner (determined by vertical_align) of the overlay area. Values can be an absolute number of pixels relative to the video height. **Default: `0`**"
                      },
                      "color": {
                        "type": "string",
                        "description": "Font color for text. **Default: `black`**"
                      },
                      "font": {
                        "type": "string",
                        "description": "Font family type for text. **Default: `sans`**"
                      },
                      "font_size": {
                        "type": "string",
                        "description": "Font size in pixels. **Default: `16`**"
                      },
                      "opacity": {
                        "type": "string",
                        "description": "Overlay text opacity can be specified with opacity parameter where value can be between `0` and `100` where `0` is considered completely transparent and `100` is considered completely opaque. **Default: `100`**"
                      },
                      "box": {
                        "type": "boolean",
                        "description": "This parameter allows rectangular drawing a box over the overlayed text. **Default: `false`**"
                      },
                      "box_color": {
                        "type": "string",
                        "description": "Box color can be specified with this parameter. **Default: `white`**"
                      },
                      "box_opacity": {
                        "type": "string",
                        "description": "Box opacity can be specified with this parameter. **Default: `100`**"
                      },
                      "box_border": {
                        "type": "string",
                        "description": "Padding between the box border and the text can be specified with this parameter in pixels. **Default: `0`**"
                      }
                    }
                  },
                  "animated_gif": {
                    "type": "object",
                    "description": "Create an animated GIF from the video.",
                    "properties": {
                      "start_offset": {
                        "type": "string",
                        "description": "The time (in seconds or `HH:MM:SS` format) of the video timeline where the animated gif should begin. **Default: `0`**"
                      },
                      "end_offset": {
                        "type": "string",
                        "description": "The time (in seconds or `HH:MM:SS` format) of the video timeline where the GIF ends. Defaults to `10` seconds after the start_offset. Maximum duration of GIF is limited to `10` seconds."
                      },
                      "width": {
                        "type": "string",
                        "description": "The width in pixels (or in percentage value of asset width) of the animated GIF. Max width is `640px`."
                      },
                      "height": {
                        "type": "string",
                        "description": "The height in pixels (or in percentage value of asset height) of the animated GIF. Max height is `640px`."
                      },
                      "fps": {
                        "type": "string",
                        "description": "The frame rate of the generated GIF. Defaults to `15` fps. Max `30` fps."
                      }
                    }
                  },
                  "additional_tracks": {
                    "type": "array",
                    "description": "Add additional Audio / Subtitle tracks to Gumlet for transcoding and delivery along with video asset track.",
                    "items": {
                      "type": "object",
                      "required": [
                        "url",
                        "type",
                        "language_code"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "URL or web address of a file that Gumlet should download to add a stream."
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of additional track. Value can be either audio or subtitle."
                        },
                        "language_code": {
                          "type": "string",
                          "description": "The language code value represents BCP 47 specification compliant value. For example, en for English."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the track containing a human-readable description."
                        }
                      }
                    }
                  },
                  "generate_subtitles": {
                    "type": "object",
                    "description": "Gumlet allows to generate subtitles from the audio stream (use <a href='https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes'> ISO 639-1 </a> Language Codes)",
                    "properties": {
                      "audio_language": {
                        "type": "string",
                        "description": "Language code for native language of the audio."
                      },
                      "subtitle_languages": {
                        "type": "string",
                        "description": "Comma separated string of language codes for which subtitle needs to be generated. Maximum four language codes are allowed."
                      }
                    }
                  },
                  "mp4_access": {
                    "type": "boolean",
                    "description": "Creates `MP4` version for download purpose in case of `MPEG-DASH` or `HLS` delivery format. **Default: `false`**"
                  },
                  "per_title_encoding": {
                    "type": "boolean",
                    "description": "Gumlet analyzes each input video on a wide range of visual aspects. Based on the analysis, it chooses a unique set of transcoding options for processing the video. This ensures that the output video is of optimal size and best quality. **Default: `true`**"
                  },
                  "process_low_resolution_input": {
                    "type": "boolean",
                    "description": "Currently, the minimum supported frame size is `57600` (`240x240`) pixels for `HLS/DASH` and `21025` (`145x145`) pixels for `MP4` format. However, enabling this flag will allow Gumlet to simply put your video asset into the specified delivery format without transcoding and optimization. Enabling this flag will cause any kind of specified video transformation to be ignored if you input video asset frame size is lower than the minimum supported frame size for the specified format. **Default: `false`**"
                  },
                  "audio_only": {
                    "type": "boolean",
                    "description": "This flag allows Gumlet to transcode and deliver audio-only in the specified format. In this case, video transformation and thumbnails/animated GIFs would not be created. **Default: `false`**"
                  },
                  "enable_drm": {
                    "type": "boolean",
                    "description": "Enable DRM encryption for transcoded videos. Gumlet supports Widevine and Fairplay DRMs."
                  },
                  "call_to_actions": {
                    "type": "array",
                    "description": "CTA, is an explicit prompt within the video content encouraging viewers to take a particular action.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "start_time": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "end_time": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "font_color": {
                          "type": "string",
                          "description": "hex value of color"
                        },
                        "background_color": {
                          "type": "string",
                          "description": "hex code of color"
                        },
                        "position_from_top": {
                          "type": "integer",
                          "description": "number of pixels from top",
                          "format": "int32"
                        },
                        "position_from_right": {
                          "type": "integer",
                          "description": "number of pixels from right",
                          "format": "int32"
                        }
                      }
                    }
                  },
                  "playlist_id": {
                    "type": "string",
                    "description": "Add this asset to a playlist."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Add this asset to an existing folder by `folder_id`."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "format": "ABR",
                    "collection_id": "646df1c9173a4a2fcac180b4",
                    "input": "http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8",
                    "description": "some description",
                    "tag": [
                      "ball"
                    ],
                    "profile_id": "646df1c9173a4a2fcac180b7",
                    "cluster_type": "prod",
                    "playlist_id": "6597acd5ed6f26a9c5ca9633",
                    "metadata": {
                      "headermeta": "metavalue"
                    },
                    "call_to_actions": [
                      {
                        "start_time": 1,
                        "end_time": 90,
                        "text": "some test",
                        "url": "https://some-url.com",
                        "position_from_top": 11,
                        "position_from_right": 23,
                        "border_radius": "11",
                        "font_color": "#000001",
                        "background_color": "#ffffff"
                      }
                    ],
                    "folder": "697375fbfa2d1037283140e4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "asset_id": "65b169dfe99b77f116c0e4aa",
                      "progress": 0,
                      "created_at": 1706125793055,
                      "updated_at": 1706125793055,
                      "status": "upload-pending",
                      "tag": [
                        "games",
                        "field"
                      ],
                      "source_id": "646df1c9173a4a2fcac180b4",
                      "collection_id": "646df1c9173a4a2fcac180b4",
                      "input": {
                        "transformations": {
                          "format": "hls",
                          "resolution": [
                            "360p",
                            "480p",
                            "540p",
                            "720p",
                            "1080p"
                          ],
                          "audio_codec": [
                            "aac"
                          ],
                          "video_codec": [
                            "libx264"
                          ],
                          "thumbnail": [
                            "auto"
                          ],
                          "thumbnail_format": "png",
                          "mp4_access": false,
                          "per_title_encoding": false,
                          "original_deleted": true
                        },
                        "profile_id": "646df1c9173a4a2fcac180b7",
                        "title": "Sports.",
                        "description": "This video provides information about various sports.",
                        "metadata": {
                          "headermeta": "metavalue"
                        },
                        "source_url": "646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/origin-65b169dfe99b77f116c0e4aa",
                        "call_to_actions": [
                          {
                            "start_time": 1,
                            "end_time": 90,
                            "text": "Buy here!!",
                            "url": "https://some-buy-url-site.com",
                            "html_target": "_blank"
                          }
                        ]
                      },
                      "output": {
                        "format": "hls",
                        "status_url": "https://api.gumlet.com/v1/video/assets/65b169dfe99b77f116c0e4aa",
                        "playback_url": "https://dev-video.gumlet.io/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/main.m3u8",
                        "thumbnail_url": [
                          "https://dev-video.gumlet.io/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/thumbnail-1-0.png?v=1706125793055"
                        ]
                      },
                      "upload_url": "https://gumlet-video-user-uploads.s3-accelerate.dualstack.amazonaws.com/gumlet-user-uploads-dev-deletable/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/origin-65b169dfe99b77f116c0e4aa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIA4WNLTXWDAC3AKBPV%2F20240124%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240124T194953Z&X-Amz-Expires=3600&X-Amz-Signature=b724bd728efd589ec6cb4d0fab17947448c02788823619433720e8fddf0f1155&X-Amz-SignedHeaders=host&x-id=PutObject",
                      "playlists": [
                        "6597acd5ed6f26a9c5ca9633"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset_id": {
                      "type": "string",
                      "example": "65b169dfe99b77f116c0e4aa"
                    },
                    "progress": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1706125793055,
                      "default": 0
                    },
                    "updated_at": {
                      "type": "integer",
                      "example": 1706125793055,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "upload-pending"
                    },
                    "tag": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "games"
                      }
                    },
                    "source_id": {
                      "type": "string",
                      "example": "646df1c9173a4a2fcac180b4"
                    },
                    "collection_id": {
                      "type": "string",
                      "example": "646df1c9173a4a2fcac180b4"
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "transformations": {
                          "type": "object",
                          "properties": {
                            "format": {
                              "type": "string",
                              "example": "hls"
                            },
                            "resolution": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "360p"
                              }
                            },
                            "audio_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "aac"
                              }
                            },
                            "video_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "libx264"
                              }
                            },
                            "thumbnail": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "auto"
                              }
                            },
                            "thumbnail_format": {
                              "type": "string",
                              "example": "png"
                            },
                            "mp4_access": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "per_title_encoding": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "original_deleted": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "profile_id": {
                          "type": "string",
                          "example": "646df1c9173a4a2fcac180b7"
                        },
                        "title": {
                          "type": "string",
                          "example": "Sports."
                        },
                        "description": {
                          "type": "string",
                          "example": "This video provides information about various sports."
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "headermeta": {
                              "type": "string",
                              "example": "metavalue"
                            }
                          }
                        },
                        "source_url": {
                          "type": "string",
                          "example": "646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/origin-65b169dfe99b77f116c0e4aa"
                        },
                        "call_to_actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "start_time": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "end_time": {
                                "type": "integer",
                                "example": 90,
                                "default": 0
                              },
                              "text": {
                                "type": "string",
                                "example": "Buy here!!"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://some-buy-url-site.com"
                              },
                              "html_target": {
                                "type": "string",
                                "example": "_blank"
                              }
                            }
                          }
                        }
                      }
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string",
                          "example": "hls"
                        },
                        "status_url": {
                          "type": "string",
                          "example": "https://api.gumlet.com/v1/video/assets/65b169dfe99b77f116c0e4aa"
                        },
                        "playback_url": {
                          "type": "string",
                          "example": "https://dev-video.gumlet.io/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/main.m3u8"
                        },
                        "thumbnail_url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "https://dev-video.gumlet.io/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/thumbnail-1-0.png?v=1706125793055"
                          }
                        }
                      }
                    },
                    "upload_url": {
                      "type": "string",
                      "example": "https://gumlet-video-user-uploads.s3-accelerate.dualstack.amazonaws.com/gumlet-user-uploads-dev-deletable/646df1c9173a4a2fcac180b4/65b169dfe99b77f116c0e4aa/origin-65b169dfe99b77f116c0e4aa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIA4WNLTXWDAC3AKBPV%2F20240124%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240124T194953Z&X-Amz-Expires=3600&X-Amz-Signature=b724bd728efd589ec6cb4d0fab17947448c02788823619433720e8fddf0f1155&X-Amz-SignedHeaders=host&x-id=PutObject"
                    },
                    "playlists": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "6597acd5ed6f26a9c5ca9633"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "error": {
                        "code": "source_not_found",
                        "message": "Could not find any video source with specified source ID."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "source_not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "Could not find any video source with specified source ID."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "error": {
                        "code": "source_not_found",
                        "message": "Could not find any video source with specified source ID."
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "source_not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "Could not find any video source with specified source ID."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Video Assets"
        ],
        "x-stoplight": {
          "id": "7vjmxfy06ukbh"
        }
      }
    },
    "/video/assets/{asset_id}": {
      "get": {
        "summary": "Asset Details",
        "description": "This endpoint retrieves the details of an asset that has previously been created.",
        "operationId": "get-asset-details",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "description": "An asset id for the previously created asset.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "asset_id": "67e4ece9403562dbea654261",
                      "progress": 100,
                      "created_at": 1743056105661,
                      "updated_at": 1743056105661,
                      "status": "ready",
                      "tag": [
                        "demo"
                      ],
                      "source_id": "67e4ece9403562dbea65425f",
                      "collection_id": "67e4ece9403562dbea65425f",
                      "input": {
                        "transformations": {
                          "format": "abr",
                          "resolution": [
                            "240p",
                            "360p",
                            "480p",
                            "540p",
                            "720p",
                            "1080p",
                            "1440p",
                            "2160p"
                          ],
                          "audio_codec": [
                            "aac"
                          ],
                          "video_codec": [
                            "libx264"
                          ],
                          "image_overlay": {
                            "url": "https://demo.gumlet.io/logo.png",
                            "vertical_align": "top",
                            "horizontal_align": "right",
                            "vertical_margin": "5%",
                            "horizontal_margin": "5%",
                            "width": "20%",
                            "height": "20%",
                            "image_downloaded": true
                          },
                          "thumbnail": [
                            "auto"
                          ],
                          "thumbnail_format": "png",
                          "mp4_access": false,
                          "audio_only": false,
                          "original_deleted": true,
                          "per_title_encoding": false,
                          "generate_subtitles": {
                            "audio_language": "en",
                            "subtitle_languages": [
                              "es",
                              "hi"
                            ]
                          },
                          "preview_thumbnails": {
                            "max_tiles": 100
                          }
                        },
                        "profile_id": "67e4ece9403562dbea65425c",
                        "title": " Sample Video",
                        "description": "This is a sample video to help you experience Gumlet platform and player.",
                        "chapters": [
                          {
                            "endTime": 10,
                            "label": "First Chapter"
                          },
                          {
                            "endTime": 50,
                            "label": "Second Chapter"
                          },
                          {
                            "endTime": 130,
                            "label": "Third Chapter"
                          },
                          {
                            "endTime": 155,
                            "label": "Forth Chapter"
                          }
                        ],
                        "source_url": "5f462c1561cf8a766464ffc4/647eb18cc90c6c6c35370979/origin-647eb18cc90c6c6c35370979",
                        "size": 364735178,
                        "duration": 183.088,
                        "aspect_ratio": "16:9",
                        "fps": 23.98,
                        "width": 3840,
                        "height": 2160
                      },
                      "output": {
                        "format": "abr",
                        "status_url": "https://api.gumlet.com/v1/video/assets/67e4ece9403562dbea654261",
                        "playback_url": "https://video.gumlet.io/67e4ece9403562dbea65425f/67e4ece9403562dbea654261/main.m3u8",
                        "dash_playback_url": "https://video.gumlet.io/67e4ece9403562dbea65425f/67e4ece9403562dbea654261/main.mpd",
                        "thumbnail_url": [
                          "https://video.gumlet.io/67e4ece9403562dbea65425f/67e4ece9403562dbea654261/thumbnail-1-0.png?v=1743056105661"
                        ],
                        "storage_details": {
                          "video": [
                            {
                              "fileName": "1080p.mp4",
                              "size": 91884957,
                              "resolution": "1920x1080",
                              "duration": 183
                            },
                            {
                              "fileName": "1440p.mp4",
                              "size": 148667263,
                              "resolution": "2560x1440",
                              "duration": 183
                            },
                            {
                              "fileName": "2160p.mp4",
                              "size": 296143768,
                              "resolution": "3840x2160",
                              "duration": 183
                            },
                            {
                              "fileName": "240p.mp4",
                              "size": 6573304,
                              "resolution": "426x240",
                              "duration": 183
                            },
                            {
                              "fileName": "360p.mp4",
                              "size": 14040936,
                              "resolution": "640x360",
                              "duration": 183
                            },
                            {
                              "fileName": "480p.mp4",
                              "size": 23006040,
                              "resolution": "854x480",
                              "duration": 183
                            },
                            {
                              "fileName": "540p.mp4",
                              "size": 28124144,
                              "resolution": "960x540",
                              "duration": 183
                            },
                            {
                              "fileName": "720p.mp4",
                              "size": 45395668,
                              "resolution": "1280x720",
                              "duration": 183
                            }
                          ],
                          "audio": [
                            {
                              "fileName": "en_128k.mp4",
                              "size": 2913025,
                              "duration": 183
                            },
                            {
                              "fileName": "en_192k.mp4",
                              "size": 4378028,
                              "duration": 183
                            },
                            {
                              "fileName": "en_64k.mp4",
                              "size": 1448475,
                              "duration": 183
                            },
                            {
                              "fileName": "en_96k.mp4",
                              "size": 2180524,
                              "duration": 183
                            }
                          ],
                          "playlist": [
                            {
                              "fileName": "1080p.m3u8",
                              "size": 3790
                            },
                            {
                              "fileName": "1080p_iframe.m3u8",
                              "size": 4129
                            },
                            {
                              "fileName": "1440p.m3u8",
                              "size": 3793
                            },
                            {
                              "fileName": "1440p_iframe.m3u8",
                              "size": 4160
                            },
                            {
                              "fileName": "2160p.m3u8",
                              "size": 3797
                            },
                            {
                              "fileName": "2160p_iframe.m3u8",
                              "size": 4196
                            },
                            {
                              "fileName": "240p.m3u8",
                              "size": 3701
                            },
                            {
                              "fileName": "240p_iframe.m3u8",
                              "size": 3997
                            },
                            {
                              "fileName": "360p.m3u8",
                              "size": 3701
                            },
                            {
                              "fileName": "360p_iframe.m3u8",
                              "size": 4040
                            },
                            {
                              "fileName": "480p.m3u8",
                              "size": 3702
                            },
                            {
                              "fileName": "480p_iframe.m3u8",
                              "size": 4058
                            },
                            {
                              "fileName": "540p.m3u8",
                              "size": 3705
                            },
                            {
                              "fileName": "540p_iframe.m3u8",
                              "size": 4068
                            },
                            {
                              "fileName": "720p.m3u8",
                              "size": 3730
                            },
                            {
                              "fileName": "720p_iframe.m3u8",
                              "size": 4072
                            },
                            {
                              "fileName": "en_128k.m3u8",
                              "size": 3802
                            },
                            {
                              "fileName": "en_192k.m3u8",
                              "size": 3802
                            },
                            {
                              "fileName": "en_64k.m3u8",
                              "size": 3755
                            },
                            {
                              "fileName": "en_96k.m3u8",
                              "size": 3755
                            },
                            {
                              "fileName": "es.m3u8",
                              "size": 231
                            },
                            {
                              "fileName": "hi.m3u8",
                              "size": 231
                            },
                            {
                              "fileName": "en.m3u8",
                              "size": 232
                            },
                            {
                              "fileName": "main.m3u8",
                              "size": 10690
                            },
                            {
                              "fileName": "main.mpd",
                              "size": 6889
                            }
                          ],
                          "thumbnail": [
                            {
                              "fileName": "thumbnail-1-0.png",
                              "size": 6087369,
                              "resolution": "3840x2160"
                            }
                          ],
                          "subtitle": [
                            {
                              "fileName": "es.vtt",
                              "size": 398
                            },
                            {
                              "fileName": "hi.vtt",
                              "size": 632
                            },
                            {
                              "fileName": "en.vtt",
                              "size": 645
                            }
                          ],
                          "previewThumbnail": [
                            {
                              "fileName": "preview_thumbnails.png",
                              "size": 3089899
                            },
                            {
                              "fileName": "preview_thumbnails.vtt",
                              "size": 3816
                            }
                          ]
                        },
                        "transcription_word_level_timestamps": "https://video.gumlet.io/67e4ece9403562dbea65425f/67e4ece9403562dbea654261/67e4ece9403562dbea654261-transcription-word-level-timestamp.json?token=5589a9b725fabe0586e37782c3eb8e083a84e5c2&expires=1744100014337",
                        "storage_bytes": 674034917,
                        "preview_thumbnails_url": "https://video.gumlet.io/67e4ece9403562dbea65425f/67e4ece9403562dbea654261/preview_thumbnails.vtt"
                      },
                      "processed_at": 1743056105661,
                      "folder": "Demo Folder",
                      "playlists": [
                        "6580370331f481c578e07287",
                        "657c24f3e3340004404eed59"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset_id": {
                      "type": "string",
                      "example": "67e4ece9403562dbea654261"
                    },
                    "progress": {
                      "type": "integer",
                      "example": 100,
                      "default": 0
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1743056105661,
                      "default": 0
                    },
                    "updated_at": {
                      "type": "integer",
                      "example": 1743056105661,
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "ready"
                    },
                    "tag": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "demo"
                      }
                    },
                    "source_id": {
                      "type": "string",
                      "example": "67e4ece9403562dbea65425f"
                    },
                    "collection_id": {
                      "type": "string",
                      "example": "67e4ece9403562dbea65425f"
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "transformations": {
                          "type": "object",
                          "properties": {
                            "format": {
                              "type": "string",
                              "example": "abr"
                            },
                            "resolution": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "240p"
                              }
                            },
                            "audio_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "aac"
                              }
                            },
                            "video_codec": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "libx264"
                              }
                            },
                            "image_overlay": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string",
                                  "example": "https://demo.gumlet.io/logo.png"
                                },
                                "vertical_align": {
                                  "type": "string",
                                  "example": "top"
                                },
                                "horizontal_align": {
                                  "type": "string",
                                  "example": "right"
                                },
                                "vertical_margin": {
                                  "type": "string",
                                  "example": "5%"
                                },
                                "horizontal_margin": {
                                  "type": "string",
                                  "example": "5%"
                                },
                                "width": {
                                  "type": "string",
                                  "example": "20%"
                                },
                                "height": {
                                  "type": "string",
                                  "example": "20%"
                                },
                                "image_downloaded": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            },
                            "thumbnail": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "auto"
                              }
                            },
                            "thumbnail_format": {
                              "type": "string",
                              "example": "png"
                            },
                            "mp4_access": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "audio_only": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "original_deleted": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "per_title_encoding": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "generate_subtitles": {
                              "type": "object",
                              "properties": {
                                "audio_language": {
                                  "type": "string",
                                  "example": "en"
                                },
                                "subtitle_languages": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "es"
                                  }
                                }
                              }
                            },
                            "preview_thumbnails": {
                              "type": "object",
                              "properties": {
                                "max_tiles": {
                                  "type": "integer",
                                  "example": 100,
                                  "default": 0
                                }
                              }
                            }
                          }
                        },
                        "profile_id": {
                          "type": "string",
                          "example": "67e4ece9403562dbea65425c"
                        },
                        "title": {
                          "type": "string",
                          "example": " Sample Video"
                        },
                        "description": {
                          "type": "string",
                          "example": "This is a sample video to help you experience Gumlet platform and player."
                        },
                        "chapters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "endTime": {
                                "type": "integer",
                                "example": 10,
                                "default": 0
                              },
                              "label": {
                                "type": "string",
                                "example": "First Chapter"
                              }
                            }
                          }
                        },
                        "source_url": {
[...]
